{% extends "base.html" %}
{% load i18n %}

{% block headerbar %}
	<div id="header-bar" class="col-sm-12 clearfix">
        <h4 class="col-xs-4 col-sm-4">{{title}}</h4>
    </div>
{% endblock %}

{% block content %}
	{% if errors %}
		<div class="alert alert-danger">
		  <strong>Error!</strong> 
		    {{errors | safe}}
		</div>
	{% endif %}
	
	<form action="{{ url }}" method="post" class="form-horizontal">
		{% csrf_token %}
		{% for field in form %}
		  <div class="form-group {% if field.errors %} has-error {% endif %}">
		    <label class="control-label col-sm-2" for="{{field.id_for_label}}">{{field.label}} :</label>
		    <div class="col-sm-8">
		      {{field}}
		    </div>
		  </div>
		  {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	      {% endif %}
		{% endfor %}
		{% if current_user_profile.tax_only == False %}
			<div class="form-group ">
			    <label class="control-label col-sm-2" for="id_untaxed">Untaxed :</label>
			    <div class="col-sm-8">
			      <input id="id_untaxed" name="untaxed" type="checkbox" />
			    </div>
			 </div>
		 {% endif %}
		<div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		    	<button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		</div>
	</form>
{% endblock %}

{% block static %}
	{% load static %}
	<script>
		$('input[type=text]').focus(function () { 
                $(this).select();
            });
	</script>
{% endblock %}
