{% extends "base.html" %}
{% load i18n %}

{% block headerbar %}
    <div id="header-bar" class="col-sm-12 clearfix">
        <h4 class="col-xs-4 col-sm-4">{{title}}</h4>
    </div>
{% endblock %}

{% block content %}
    {% if message %}
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{message}}
        </div>
    {% endif %}
    {% if errors %}
        <div class="alert alert-danger">
          <strong>Error!</strong>
            {{errors | safe}}
        </div>
    {% endif %}
     <div >
        <form action="{% url 'users:change_password' pk=instance.pk %}" method="post" >
        	{% csrf_token %}
                {% for field in change_password_form %}
                  <div class="form-group col-sm-12 {% if field.errors %} has-error {% endif %}">
                        <label class="control-label col-sm-3" for="{{field.id_for_label}}">{{field.label}} :</label>
                        <div class="col-sm-7">
                          <input class="form-control" type="password" name="{{ field.html_name }}">
                        </div>
                  </div>
                  <div class="clearfix"></div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}

{% block static %}
	{% load static %}
{% endblock %}

