{% extends "base.html" %}
{% load i18n %}


{% block headerbar %}
	<div id="header-bar" class="col-sm-12 clearfix">
        <h4 class="col-xs-4 col-sm-4">{{title}}</h4>
    </div>
{% endblock %}

{% block content %}
	{% if errors %}
		<div class="alert alert-danger">
		  <strong>Error!</strong>
		    {{errors | safe}}
		</div>
	{% endif %}

	<form id="userform" action="{{ url }}" method="post" class="form-horizontal">
		{% csrf_token %}

		{% for field in form %}
		  <div class="form-group {% if field.errors %} has-error {% endif %}">
		    <label class="control-label col-sm-2" for="{{field.id_for_label}}">{{field.label}} :</label>
		    <div class="col-sm-8">
		      {{field}}
		    </div>
		  </div>
		  {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	      {% endif %}
		{% endfor %}

		{% for field in profile %}
		  <div class="form-group {% if field.errors %} has-error {% endif %} {% if field.name == 'shops' %} shops hidden{% endif %}">
		    <label class="control-label col-sm-2" for="{{field.id_for_label}}">{{field.label}} :</label>
		    <div class="col-sm-8">
		      {{field}}
		    </div>
		  </div>
		  {% if field.help_text %}
	        <p class="help">{{ field.help_text|safe }}</p>
	      {% endif %}
		{% endfor %}

		  <div class="form-group"> 
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
	</form>
{% endblock %}

{% block static %}
	{% load static %}
	<script>
		$(document).ready(function(){
			var init_value = $('#id_user_type').val();
			if(init_value == 'staff'){
				$('div.shops').removeClass('hidden');
				$('#id_shops option').prop('selected', false);
			}else{
				$('div.shops').addClass('hidden');
				$('#id_shops option').prop('selected', true);
			}
			if(init_value =='admin'){
			$('#id_shops option').prop('selected', true);
		}
		});

		$('#id_user_type').on('click keyup',function(){
			var value = $(this).val();
			if(value == 'staff'){
				$('div.shops').removeClass('hidden');
				$('#id_shops option').prop('selected', false);
			}else{
				$('div.shops').addClass('hidden');
				$('#id_shops option').prop('selected', true);
			}
		});
		var value = $('#id_user_type').val();
		if(value =='admin'){
			$('#id_shops option').prop('selected', true);
		}
	</script>
{% endblock %}